<h1>Coin Combinations</h1>
<form action="/result">
  <div class="form-group">
    <label for="quarters">Quarters available</label>
    <input id="quarters" type="text" name="quarters" class="form-control">

    <label for="dimes">Dimes available</label>
    <input id="dimes" type="text" name="dimes" class="form-control">

    <label for="nickles">Nickles available</label>
    <input id="nickles" type="text" name="nickles" class="form-control">

    <label for="user_input_init">Enter amount of pennies to find least amount of coins</label>
    <input id="user_input_init" type="text" name="user_input_app" class="form-control">
  </div>
  <button type="submit" class="btn-success">Go</button>
</form>

<h1>Here is your coin combinations</h1>
<h2><%= @result %></h2>
